@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #ececeb;
}

.search-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin-right: 50px;
  border: 2px solid #2e383f;
  border-radius: 10px;
}

.search {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.search::placeholder {
  color: #9e9ea7;
}

.search:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  top: 10px;
}

.category-filters {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 1000;
  letter-spacing: 2px;
  color: #2e383f;
}

.checkbox {
  margin-right: 10px;
}

.homepage-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
}

.card {
  padding: 10px;
  background-color: #2e383f;
  font-family: "Montserrat", sans-serif;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  margin-right: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #141313;
}

.card__img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background-color: rgb(205, 235, 255);
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  margin-top: -10px;
  display: block;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1.35rem;
  font-weight: 700;
  padding-bottom: 5px;
  padding-top: 14px;
  color: #f9a828;
  font-family: "Montserrat", sans-serif;
}

.card__details {
  margin-top: -10px;
  font-weight: 600;
  font-size: 16px;
  color: #f9a828;
  font-family: "Montserrat", sans-serif;
}

.card__descr {
  margin-top: -10px;
  color: #ececeb;
}

.card__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  color: #f9a828;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.favorite-button {
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #2e383f;
  color: #f9a828;
  transition: all 0.5s ease;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .search-filter-container {
    flex-direction: column;
  }

  .group {
   align-items: center;
  }

  .search {
    width: calc(100% - 20px);
  }

  .checkbox{
    margin-left: 0px;
    font-size: 10px;
  }

  .category-filters {
    margin-top: 15px;
    letter-spacing: 2px;
    margin-left: 18px;
  }
}
